includes:
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  level: 7
  inferPrivatePropertyTypeFromConstructor: true
  excludes_analyse:
    - %currentWorkingDirectory%/vendor/
